[ server_cert ]
keyUsage = digitalSignature, keyEncipherment
nsCertType = server
subjectAltName = @alt_names

[ client_cert ]
keyUsage = digitalSignature, keyEncipherment
nsCertType = client

[ alt_names ]
IP.1 = 127.0.0.1
DNS.1 = localhost
